:root {
    --dividerColor: 2px solid grey;
}
.brandBox {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.divider {
    border-left: var(--dividerColor);
    margin-left: 10px;
    padding-left: 10px;
}
.brandBox img {
    width: 40px;
}