:root {
    --dimensions: 40px;
    --iconDimension: 20px;
    --ppOrange: #EF6031;
    --ppLightGrey: #E4E6E8;
    --ppBlue: #1973BA;
    --ppBarLineColor: #ECEFF1;
}
.wrapper * {
    /* outline: 1px dotted red; */
}
.wrapper {
    height: 100vh;
}
.main {
    display: flex;
    flex-direction: row;
    height: inherit;
}
.calenderArea {
    background-color: rgb(163, 163, 163);
    width: 80%;
}
.dragArea {
    flex-grow: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
.dragButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    background-color: var(--ppLightGrey);
    padding: 10px;
    width: 60%;
}
.hamburger {
    width: var(--dimensions);
    height: var(--dimensions);
    background-color: rgb(73, 73, 73);
    margin-right: 10px;
}
.lane {
    background-color: white;
    min-height: 50px;
    margin-bottom: 50px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
}
.lane-markers {
    margin-left: 60px;
    display: flex;
}
.dropHere {
    text-align: center;
    border: 2px dotted black;
    background-color: black;
}
.shake {
    background-color: red;
}
.ex-icon {
    height: var(--iconDimension);
    width: var(--iconDimension);
}